ul {
    padding-left: 1em;
}

.links {
    padding: 0
}

.header{
    width: 100%;
    text-align: center;
}

.Paragraph {
    margin-top: 1.5em;
    margin-bottom: 1em;
    padding: 3em;
    background-color: #222831;
    color: white;
    box-shadow: 4px 4px 1px 2px #eeeeee;
    border-radius: 2em;
}

.Paragraph h3 a {
    text-decoration: none;
    color: white;
}

.Paragraph h3 a:hover {
    text-decoration: underline;
}

.links h4 a {
    text-decoration: none;
    color: #0092ca;
}

.links h4 a:hover {
    text-decoration: underline;
}